.about-wrapper {
  padding: 100px;
  background: #000000b5;
  border-radius: 20px;
}
.cross {
  background: none;
  font-size: 36px;
  border-radius: 50%;
  border: none;
  color: white;
  float: right;
  margin-top: -75px;
  cursor: pointer;
  transition: 0.3s;
}
.cross :hover {
  color: var(--secondary);
}

@media only screen and (max-width: 700px) {
  .about-wrapper {
    padding: 100px 30px;
  }
}
