.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 30px 0 50px 0;
}
.logo {
  color: white;
}
.nav-text {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.nav-text a {
  color: white;
  transition: 0.3s;
}
.nav-text a:hover {
  text-shadow: 0px 0px 5px white;
}
.heartButton {
  color: white;
  font-size: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.heartButton:hover {
  color: red;
}

.PopUpOpen {
  width: 300px;
  position: absolute;
  right: 0;
  top: 80px;
  background: white;
  color: #2d2828;
  padding: 13px;
  border-radius: 10px;
  font-size: 17px;
  z-index: 100;
  box-shadow: 10px 10px 30px #000;
}
.closeButton {
  float: right;
  background: transparent;
  color: red;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.closeButton:hover {
  color: black;
}

@media only screen and (max-width: 700px) {
  .nav-text {
    gap: 10px;
    font-size: 16px;
  }
}
