.buttons-wrapper {
  display: flex;
  gap: 20px;
  place-items: center;
  justify-content: center;
  margin: 30px 0;
}
.Generate {
  padding: 15px 40px;
  border-radius: 10px;
  border: 1px solid;
  background: var(--primary);
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.3s;
}
.Generate:hover {
  box-shadow: 0px 0px 20px var(--secondary);
  cursor: pointer;
}
