@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

:root {
  --primary: #3af342;
  --secondary: #0ebfaf;
  --font: "Chopsic";
}
/* 
font-family: 'Goldman', cursive;
*/

@font-face {
  font-family: "Chopsic";
  src: url(./fonts/Chopsic.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("./assets/bg.jpg") center no-repeat;
  /* backdrop-filter: brightness(0.4); */
  background-size: cover;
  color: white;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}
a {
  text-decoration: none;
}
